<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Room</title>
  </head>
  <body>
    {{> header}}
    <form action="/create_room" method="POST">
      Address: <input type="text" name="address" required><br>
      Rent per Person: $<input type="number" name="price" required><br>
      Maximum Capacity: <input type="number" name="size" required><br>
      <input type="submit" value="Create">
    </form>
    {{> footer}}
  </body>
</html>
